$alzhaffron-cream: #FFC46C;
$alzhaffron-black: #000000;
$alzhaffron-black-2: #131313;
$alzhaffron-orange: #FF9900;
$alzhaffron-white: #FFFFFF;
$alzhaffron-purple: #8800CE;
$alzhaffron-purple-2: #FBC7FF;
$alzhaffron-purple-3: #E562FF;
$alzhaffron-dark-blue: #1B0722;


